@model Microsoft.Spectrum.Portal.Models.ConnectorConfigurationViewModel

@using Microsoft.Spectrum.Portal.Models
@using Microsoft.Spectrum.Portal.Helpers

@{
    string collectionName = ViewData.ContainsKey("PrefixName") ? string.Format("{0}.{1}", ViewData["PrefixName"].ToString(), "Connectors") : "Connectors";
}

@using (Html.BeginCollectionItem<ConnectorConfigurationViewModel>(collectionName))
{
    <ul>
        <li>
            <label title="Connector Type">Connector Type</label>
            <div class="col">
                <div class="input cable mandatory">
                    @Html.TextBoxFor(m => m.ConnectorType)
                    @Html.ValidationMessageFor(m => m.ConnectorType)
                </div>
            </div>
        </li>
        @if (Model.AllowConnectorEntryDelete)
        {
            <li>
                <a href="#" title="Remove" onclick="$(this).parent().parent().remove();" class="icon delete">Remove</a>
            </li>
        }
    </ul>
}
