<div class="end-stripe">
    @Html.ActionLink("Begin Registration Process", "RegistrationSteps", "SpectrumObservatoryRegistration", null, new { @class = "btn" })
</div>

<div class="content" id="homeLPane">
    <div class="title">
        <h2>Station Registration</h2>
    </div>
    <p>To register a new measurement station, users are required to be registered with the CityScape Observatory using a Microsoft account.  If you haven’t registered, it’s quick and easy.  Please use the ‘Sign-In’ button on the left vertical menu and follow the instructions to login or create a new Microsoft account if you don’t have one.</p>

    <p>Thank you for your interest in registering a new spectrum measurement station. You can click on ‘Begin Registration Process’ button below at any time.  You’ll be walked through a few steps to register and setup a measurement station.</p>
</div>