<div>
    <div class="title float">
        <h2>Device Setup</h2>
    </div>

    <div class="content manage-user">
        <p> At this time, it is assumed that the devices are setup and ready to use. <b>Continue to the next step.</b> </p>

        <p>
            If devices are not setup, please read through the setup manual and follow the steps on setting up the device.
            It is also required that the devices are connected to the receiving antenna and able to communicate with the host PC.
            Below is the sample illustration on how an RF sensor can be configured.
        </p>
        <p>
            For more information on CityScape Spectrum observatory setup, see the
            <a href="@Url.Action("DownloadSetupManual")">
                <b>CityScape Spectrum Observatory Station Deployment Guide</b>
            </a>
        </p>
        <p>
            For information on the station registration knobs, see the  
            <a href="https://csmaster20161201t0759.blob.core.windows.net/msidownload/City%20Scape%20Observatory%20Knobs%20Definition%20Guide.pdf">
                <b>City Scape Observatory Knobs Definition Guide</b>
            </a>
        </p>
        <img src="~/Content/Images/DeviceSetup.jpg" style="width:708px;" alt="Ethernet Adapters with a Switch" />
      
    </div>
</div>                  