<div>
    <div class="title float">
        <h2>Overview</h2>
    </div>

    <div class="content manage-user">
        <p>Before beginning setup of a CityScape Spectrum Observatory Station, you will need to ensure that you have the following components:</p>

        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="noHover compType">
            <thead>
                <tr>
                    <th width="25%">Component Type</th>
                    <th>Specification</th>
                </tr>
            </thead>
            @* TODO: Html to display actual content for overview on successful registration *@
            <tbody>
                <tr>
                    <td>Host PC</td>
                    <td>
                        <ol>
                            <li>Minimum 1.8 GHz, 1 MB L2 Cache</li>
                            <li>Minimum 4 GB RAM</li>
                            <li>Minimum 1 Gigabit NIC</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>RF Sensors</td>
                    <td>
                        <ol>
                            <li>•	We currently support the following RF Sensors:</li>
                            <ol>
                                <li>USRP N200 with SBX or WBX daughter cards</li>
                                <li>USRP N210 with SBX or WBX daughter cards</li>
                                <li>USRP B200</li>
                                <li>RF Explorer</li>
                            </ol>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Antenna</td>
                    <td>
                        <ol>
                            <li>Omni-directional outdoor wideband antenna </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <td>
                        <ol>
                            <li>Windows Server 2012 R2 or later and Window 8.1 or later</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Solution Software</td>
                    <td>
                        <ol>
                            <li>CityScape Spectrum Observatory Measurement Station software</li>
                            <ol>
                                <li>Can be download later</li>
                            </ol>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Network Switch</td>
                    <td>
                        <ol>
                            <li>Minimum 1 Gigabit Network Switch with at least 3 open ports</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Clean Power</td>
                    <td>
                        <ol>
                            <li>Enough power outlets to power all devices</li>
                            <li>Outlets will have to conform to the correct amps and voltage of the hardware being provided</li>
                            <li>Power should be clean and surge protected</li>
                            <li>Any power outlet adapters for differing plug types</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Cabling</td>
                    <td>
                        <ol>
                            <li>At least LMR-400 cabling between antenna and location where RF sensors are stored (may need higher quality cabling based on the length of the cable required)</li>
                            <li>SMA cabling between splitter and antenna cable, and between splitter and RF sensor</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>Connectors and Splitters</td>
                    <td>
                        <ol>
                            <li>SMA splitter</li>
                            <li>Connector/Convertor between antenna and SMA</li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>