@model IEnumerable<Microsoft.Spectrum.Storage.Models.MeasurementStationInfo>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/Scripts/Application/SpectrumObservatoryRegistrationCommon.js"></script>
    <script src="~/Scripts/Application/ManageSpectrumObservatory.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Application/jquery.validate.unobtrusive.extension.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@section Left{
    <div class="content">
    <div class="title">
        <h2>Station Management</h2>
    </div>
    <p>You may manage and make changes to your station here.  Below are the options available for managing stations:</p>
    <h4>Manage Users</h4>
    <p>This can be accessed by clicking on the ‘Manage’ button.  New users can be added or removed from the station administrators list.</p>
    <h4>Update Station Details</h4>
    <p>Station details can be updated by clicking on ‘Edit’ button for the station.  Once the details are updated clicking on submit will save the information.  The updated information can be seen immediately from CityScape Spectrum observatory site.</p>
    <h4>Decommission / Delete a Station</h4>
    <p>Administrators are allowed to decommission a station by clicking on the ‘Decommission’ button.  Decommission will change the status of the status on the CityScape Spectrum observatory site.  It is the administrator’s responsibility to make sure data is not getting uploaded from the decommissioned station.  Deleting the station entirely is not allowed at this time.  Please get in touch with the site admin for any issues regarding this.</p>
</div>

}

@section Right{
    @Html.Partial("ManageSpectrumObservatoriesPartial", Model);
}