<div class="title float">
    <h2>Station Info</h2>
</div>
<div class="content">
    <ul class="read-only">
        <li>
            <label>Description</label>
            <div class="input textarea">
                <textarea readonly="readonly">This is a test setup with an RF Explorer device</textarea>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>Address</label>
            <div class="input address">
                <textarea readonly="readonly">8545 166th Ave NE, Redmond, WA, United States</textarea>
            </div>
        </li>
        <div class="clear"></div>
        <li class="split">
            <label>Latitude</label>
            <div class="col">
                <div class="input location">
                    <input type="text" readonly="readonly" value="47.679405" />
                </div>
            </div>
        </li>
        <li class="split">
            <label>Longitude</label>
            <div class="col">
                <div class="input location">
                    <input type="text" readonly="readonly" value="47.679405"/>
                </div>
            </div>
        </li>
        <li>
            <label>HARDWARE INFORMATION</label>
            <div class="input device">
                <input type="text" readonly="readonly" />
            </div>
        </li>
    </ul>
    <div class="title">
        <h4>DEVICE DESCRIPTION</h4>
    </div>
    <ul class="read-only">
        <li>
            <label>Antenna</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" value="Mini Omni Directional Antenna" />
            </div>
        </li>
        <li>
            <label>RADIO TYPE</label>
            <div class="input device">
                <input type="text" readonly="readonly" value="RF Explorer" />
            </div>
        </li>
        <div class="clear"></div>
        <li>
        <div class="clear"></div>
            <label>STATION TYPE</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li class="split">
            <label>START FREQUENCY (Hz)</label>
            <div class="col">
                <div class="input tower">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <li class="split">
            <label>STOP FREQUENCY (Hz)</label>
            <div class="col">
                <div class="input tower">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
    </ul>
    <div class="title">
        <h4>RF Sensor Configuration</h4>
    </div>
    <ul class="read-only">
        <li class="split">
            <label>CABLE TYPE</label>
            <div class="col">
                <div class="input cable">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <li class="split">
            <label>CABLE TYPE</label>
            <div class="col">
                <div class="input cable">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>CABLE TYPE</label>
            <div class="input cable">
                <input type="text" readonly="readonly" />
            </div>
        </li>

        <li class="split">
            <label>CABLE TYPE</label>
            <div class="col">
                <div class="input cable">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>ANTENNA TYPE</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li class="split">
            <label>DEGREE DIRECTION</label>
            <div class="col">
                <div class="input degrees">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <li class="split">
            <label>HEIGHT (Ft)</label>
            <div class="col">
                <div class="input measure">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>DESCRIPTIVE NAME</label>
            <div class="input textarea">
                <textarea readonly="readonly"></textarea>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>DEVICE TYPE</label>
            <div class="input device">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li class="split">
            <label>MIN START FREQUENCY (HZ)</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <li class="split">
            <label>MAX END FREQUENCY (HZ)</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>DEVICE ADDRESS</label>
            <div class="input address">
                <textarea readonly="readonly"></textarea>
            </div>
        </li>
        <div class="clear"></div>
        <li class="split">
            <label>CURRENT START FREQUENCY (HZ)</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <li class="split">
            <label>CURRENT STOP FREQUENCY (HZ)</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <li class="split">
            <label>Gain</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>Antenna Port</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li>
            <label>Scan Pattern</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>COMMUNICATIONS CHANNEL</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li>
            <label>LOCKING COMMUNICATIONS CHANNEL</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
        <li class="split">
            <label>BANDWIDTH (HZ)</label>
            <div class="col">
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
                </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>TUNE SLEEP</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li>
            <label>SAMPLES PER SCAN</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>NUMBER OF SAMPLE BLOCKS TO THROW AWAY</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li>
            <label>NUMBER OF SAMPLE BLOCKS PER SCAN</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>GPS ENABLED</label>
            <div class="input antenna">
                <input type="text" readonly="readonly" />
            </div>
        </li>
    </ul>
    <div class="title">
        <h4>CLIENT AGGREGATION CONFIGURATION</h4>
    </div>
    <ul class="read-only">

        <li>
            <label>SINGLE SCAN</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li>
            <label>SECONDS OF DATA PER SAMPLE</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>MINUTES OF DATA PER SCAN FILE</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
    </ul>
    <div class="title">
        <h4>RAW IQ DATA CONFIGURATION</h4>
    </div>

    <ul class="read-only">
        <li>
            <label>OUTPUT DATA</label>
            <div class="input scan">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <li class="split">
            <label>START FREQUENCY (HZ)</label>
            <div class="col">
                <div class="input tower">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <li class="split">
            <label>Stop FREQUENCY (HZ)</label>
            <div class="col">
                <div class="input tower">
                    <input type="text" readonly="readonly" />
                </div>
            </div>
        </li>
        <div class="clear"></div>
        <li>
            <label>RETENTION SECONDS</label>
            <div class="input tower">
                <input type="text" readonly="readonly" />
            </div>
        </li>
        <div class="clear"></div>
    </ul>
</div>