@model Microsoft.Spectrum.Portal.Models.StationRegistrationInputs

@using Microsoft.Spectrum.Portal.Models

<div class="title">
    <h2>Detailed Station Information</h2>
</div>

    <div class="content manage-user" id="viewForm">
        @{Html.RenderPartial("~/Views/SpectrumObservatoryRegistration/EditorTemplates/StationProfile.cshtml", Model);}

        <div class="title">
            <h3>RF Sensor</h3>
        </div>

        <div id="rfSensors">
            @if (Model.RFSensorConfigurationEndToEnd != null)
            {
                foreach (RFSensorConfigurationEndToEndViewModel rfSensorConfig in Model.RFSensorConfigurationEndToEnd)
                {
                    Html.RenderPartial("~/Views/SpectrumObservatoryRegistration/EditorTemplates/RFSensorConfiguration.cshtml", rfSensorConfig);
                }
            }
        </div>

        @{Html.RenderPartial("~/Views/SpectrumObservatoryRegistration/EditorTemplates/RawIQConfiguration.cshtml", Model);}

        @{Html.RenderPartial("~/Views/SpectrumObservatoryRegistration/EditorTemplates/ClientAggregation.cshtml", Model);}        
    </div>
