@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Left{
    <div class="content">
    <h1 class="text-danger">Error</h1>
</div>
}

@section Right{
    <p class="text-danger">An unknown error occurred, our team will look into this.</p>
}




